body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    color: #333;
}

.avatar-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.avatar-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
    border: 2px solid #ccc;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.edit-avatar {
    margin-top: 10px;
}

.edit-avatar label {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.edit-avatar label:hover {
    background-color: #0056b3;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    font-weight: bold;
}

input[type="email"],
input[type="text"],
input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    transition: border-color 0.3s ease;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="submit"]:hover {
    border-color: #007bff;
}
input[type="email"]::placeholder,
input[type="text"]::placeholder {
    color: #ccc;
}
#changeAvatarButton {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#changeAvatarButton:hover {
    background-color: #0056b3;
}
